body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: rgb(54, 49, 49);
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.767);
  margin-bottom: 25px;
}

.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;

}
.start-button{
  background-color: green;
}
.start-button:hover{
  background-color: rgb(1, 96, 1);
}
.stop-button{
  background-color: red;
}
.stop-button:hover{
  background-color: rgb(156, 0, 0);
}
.reset-button{
  background-color: rgb(87, 87, 236);
}
.reset-button:hover{
  background-color: blue;
}